
/* General */

.container {
    width: 960px;
}

/* Header */

.header {
    background-color: orange;
    border-bottom: 1px solid black;
    
    font-family: sans-serif;
    font-size:1em;
    padding: 1em; 

    position: fixed;
    top: 0;
    width: 100%;
}

/* Menu */

.header .main-logo {
    font-family: serif;
    font-size: 2em;
    text-decoration: none;
}

.header .menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

.menu > li {
    float: left;
}

.menu a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active{
    background-color: green;
}

/* Dropdown */

.dropdown {
    background-color: red; 

}

.dropdown-menu {
    font-size: 16px;
    min-width: 105px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    position: relative;
    display: inline-block;
}

.dropdown-menu li a {
    color: black;
    padding: 6px 20px;
}



/*
div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}    

a {    
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
}   

a:hover {
	color: #cc0000;
	font-weight: bold;
}

a:visited {
	color: #00ff00;
}

li:first-child{
	font-family: cursive;
}

.family{
	display: inline-block;
	margin-left: 5px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid black; 
}
*/