div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}    

a {    
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
}   

a:hover {
	color: #cc0000;
	font-weight: bold;
}

a:visited {
	color: #00ff00;
}

li:first-child{
	font-family: cursive;
}